---
import Layout from '../layouts/Layout.astro';
// import Card from '../components/Card.astro';
---

<Layout title="Welcome to Coco Mio">
	<main>
		<h1>Welcome to <span class="text-gradient">Coco Mio</span></h1>
		<p class="instructions">
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos minima molestiae consequatur laborum, labore asperiores voluptas quis sit delectus repellendus qui distinctio illo veritatis omnis quidem minus alias maxime laudantium?
		</p>
		<div>
			<form class="pageclip-form" data-netlify="true" method="post"><!-- Replace these inputs with your own. Make sure they have a "name" attribute! -->
				<label for="email">Email</label>
				<input type="email" name="email" id="email" placeholder="user@example.com" required="required"/>
				<label for="message">Let us know a few details about what you’re looking for…</label>
				<textarea name="message" id="message"></textarea><!-- This button will have a loading spinner. Keep the inner span for best results. -->
				<button class="button" type="submit"><span>Send</span></button>
			</form>
		</div>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}

	label {
		display: block;
		font-weight: bold;
		margin-bottom: 0.5rem;
	}
	input[type="email"], input[type="text"], textarea {
		display: block;
		width: 100%;
		margin-bottom: 1rem;
	}
</style>
