---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Coco Mio: Coconut products for your plants and garden." />
    <meta name="viewport" content="width=device-width" />
    <!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  :root {
    --accent: 124, 58, 237;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      #da62c4 30%,
      white 60%
    );
  }
  html {
    font-family: system-ui, sans-serif;
    background-color: #f6f6f6;
  }

  @media (prefers-reduced-motion: no-preference) {
    html {
      scroll-behavior: smooth;
    }
  }

  body {
    font-family: $sans;
    font-size: $browser-context * 1px; // ! the multiplication enforces pixels, even if you don't specify
    color: $text;
    background-color: $llgray;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    /* font weight normalization */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden; // keeps animations inside the viewport
  }

  img,
  picture {
    display: block;
    width: 100%;
    height: auto;
  }

  html {
    box-sizing: border-box;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  [id] {
    scroll-margin-top: 2ex;
  }
</style>
